name: Publish Python Package to PyPI

on:
  push:
    tags:
      - 'v*'  # Triggers on tags like v1.2.3
  workflow_dispatch:  # allow manual trigger

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
        
    - name: Install build dependencies
      run: pip install build
      
    - name: Build package
      run: python -m build
      
    - name: Store the distribution files
      # This saves the built .whl and .tar.gz files as artifacts
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/

  publish-to-pypi:
    name: Publish to PyPI
    needs: build 
    runs-on: ubuntu-latest
    
    environment: pypi 
    
    permissions:
      id-token: write  

    steps:
    - name: Download all the distribution files
      # Get the .whl and .tar.gz files created in the 'build' job
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
        
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
